<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Comic+Neue&family=Montserrat:ital,wght@0,300;1,500;1,700&family=Teko&display=swap"
      rel="stylesheet"
    />
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <!--Contenedor principal-->
    <div class="container my-container">
      <!--Estructura juego-->
      <!--Cabecero-->
      <div class="top-case">
        <img src="../images/logo.png" class="imageLogo" />
      </div>
      <div class="case-1">
        <div class="player-1">
          <div class="info-player1">
            <h1 class="text-player" id="case-2">
              <img
                src="../images/elisabeth.png"
                alt="elisabeth"
                class="img-container"
              />
              ELISABETH
            </h1>
          </div>
        </div>
        <div class="board">
          <div class="fila">
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
          </div>
          <div class="fila">
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
          </div>
          <div class="fila">
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
            <div class="col-board">
              <img src="../images/moneda.png" class="moneda" alt="moneda" />
            </div>
          </div>
        </div>
        <div class="player-2">
          <div class="info-player1">
            <h1 class="text-player" id="case-2">
              ELISABETH
              <img
                src="../images/elisabeth.png"
                alt="elisabeth"
                class="img-container"
              />
            </h1>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/main.js"></script>
  </body>
</html>
