<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <!--Contenedor principal-->
    <div class="container">
      <!--Cabecero-->
      <div class="top-case">
        <img src="./images/logo.png" class="imageLogo" />
      </div>
      <!--Estructura juego-->
      <div class="main-case">
        <div class="play-board">
          <div class="body-board"></div>
        </div>
        <div class="start">
          <button></button>
        </div>
        <div class="players"></div>
      </div>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>
